
    <link rel="stylesheet" href="stylesheets/dressInformation.css">
   
    <%-include("./header.html")%>
    <section>
        <div class="Carousel">
            <div class="sliderBox">
                <div id="slider0">
                    <img src="images/dressInformationImg/messageB1.jpg">
                </div>
                <div  id="slider1">
                    <img src="images/dressInformationImg/canonicals24.jpg">
                </div>
                <div id="slider2">
                    <img src="images/dressInformationImg/messageB3.jpg">
                </div>
                <div id="slider3">
                    <img src="images/dressInformationImg/canonicals22.jpg">
                </div>
                <div id="slider4">
                    <img src="images/dressInformationImg/messageB5.jpg">
                </div>
                <div id="slider5">
                    <img src="images/dressInformationImg/messageB6.jpg">
                </div>
            </div>
        </div>
        <div class="centre">
            <div style="float:left">
                <div class="new">
                    <h3>鲜花文章<a href="#">更多>></a></h3>
                    <img src="images/specialFlower/specialOffier4.jpg">
                    <div class="newCanonicals">
                        <h4>2018年情人节来临，您知道哪些情人节鲜花适合送恋人呢？</h4>
                        <p>2018年01月24日</p>
                        <p>
                            2018年情人节究竟要送什么花？2018年情人节哪些礼物适合送恋人呢？ 
                            也许你已经想到是鲜花加上狗年应景礼品，因为今年的情人节也是狗年春节来临之时，
                            如果能送上一束鲜花和一份与狗年相关的礼品，或许能让她芳心大开！</p>
                        <a class="move" href="#">阅读全文>></a>
                    </div>
                </div>
                <div class="new  fashionCycle">
                    <h3>花展活动<a href="#">更多>></a></h3>
                    <div style="width:200px;float:left">
                        <img src="images/dressInformationImg/flower_activity1.jpg">
                        <p style="width:200px;color:#4da5d7;text-align:center;font-size:14px;">精品切花绣球花大色鲜艳</p>
                    </div>
                    
                    <div class="newCanonicals" style="float:right">
                        <h4>斗南花花世界举办精品切花展</h4> 
                        <p>由昆明斗南国际花卉产业园区开发有限公司主办的主要鲜切花精品展日前在该园区乐动广场举办,
                            共展出上百个主要鲜切花的市场主流或优新品种...</p>
                        <a class="move" href="#">更多资讯>></a>
                    </div>
                </div>
                <div class="new story">
                    <h3>鲜花故事<a href="http://wiki.xianhua.com.cn/gushi/">更多>></a></h3>
                    <img src="images/dressInformationImg/flower_activity3.jpg">
                    <div class="newCanonicals">
                        <h4>有关郁金香的传说</h4>
                        <p>2016-02-28</p>
                        <p>郁金香原产于中东，16世纪传入欧洲。在中东，人们总是将其与穆斯林头巾相联系。
                            由于其花似穆斯林头巾，波斯语称之为dulband，土耳其语借了过来，作tulbend，意即“穆斯林头巾”。
                            该词通过法语tulipe/tulipan和拉丁文tulipa进入英文，演变成tulip这一形式。
                            土耳其语tulbend一词通过另一渠道进入...</p>
                        <a class="move" href="http://wiki.xianhua.com.cn/gushi/146.html">阅读全文>></a>
                    </div>
                </div>
            </div>
            <div class="flower">
                <h3>花语大全<a href="#">更多>></a></h3>
                <ul class="flower_list">
                    <li>
                        <span class="flowerLi_img">
                            <img src="images/dressInformationImg/hongmeigui.jpg">
                        </span>
                        <h4>红玫瑰</h4>
                        <p>	送花对象：朋友、恋人、爱人</p>
                        <p>	花语：热恋、希望与你泛起激情的爱</p>
                    </li>
                    <li>
                        <span class="flowerLi_img">
                            <img src="images/dressInformationImg/baimeigui.jpg">
                        </span>
                        <h4>白玫瑰</h4>
                        <p>	送花对象：朋友、爱人</p>
                        <p>	花语：纯洁、高贵、天真和纯纯的爱。</p>
                        <p>花语的其他解释: 1、尊敬；2、不被注意(不为人知)的美；3、诚实；4、纯纯的爱；
                            5、甘心为你付出所有；6、高贵；7、智慧；8、纯洁、纯情、天真；9、我足以与你相配。</p>
                    </li>
                    <li>
                        <span class="flowerLi_img">
                            <img src="images/dressInformationImg/baibaihe.jpg">
                        </span>
                        <h4>白百合</h4>
                        <p>	送花对象：朋友、爱人、情人</p>
                        <p>	花语：纯洁、纯白、优雅、高贵、庄严、心心相印！</p>
                        <p>白百合一直以其清秀脱俗的外表、纯洁无暇的颜色，而被人们大肆追捧。具有百年好合之含意，有深深祝福的意义。
                            受到这种花的祝福的人具有清纯天真的性格，集众人宠爱于一身。</p>
                    </li>
                    <li class="zhishu">
                        <h4>其他花的花语</h4>
                        <p>康乃馨花语：谢谢你的爱、真情、母亲我爱你、温馨的祝福、热爱着你、
                            不求代价的母爱、亲情思念、伟大，神圣，慈祥，温馨的母亲、思念。</p>
                        <p>薰衣草花语：等待爱情、安静、坚贞、浪漫的爱</p>
                        <p>向日葵花语：信念、光辉、高傲、忠诚、爱慕、沉默的爱</p>
                        <p>郁金香花语：爱、慈善、名誉、美丽、祝福、永恒、爱的表白、永恒的祝福</p>
                        <p>风信子花语：胜利、竞技、喜悦、爱意、幸福、浓情、倾慕、顽固、生命。</p>
                        <p>栀子花花语：喜悦、永恒的爱与约定</p>
                        <p>紫罗兰花语：永恒的美、质朴、美德、盛夏的清凉</p>
                        <p>满天星花语：关怀、带来好运、真心喜欢、关心、纯洁的心</p>
                        <p>桔梗花花语：永恒的爱、无望的爱、不变得爱、诚实、柔顺、悲哀</p>
                        <p>勿忘我花语：真实的爱、永恒的爱</p>
                        <p>马蹄莲花语：忠贞不渝、永结同心</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fashionShow">
            <h3>实物展示</h3>
            <ul>
                <li><img src="images/dressInformationImg/show_flower1.jpeg" alt=""></li>
                <li><img src="images/dressInformationImg/show_flower2.jpeg" alt=""></li>
                <li> <img src="images/dressInformationImg/show_flower3.jpeg" alt=""></li>
                <li><img src="images/dressInformationImg/show_flower4.jpeg" alt=""></li>
                <li class="lset"><img src="images/dressInformationImg/show_flower5.jpeg" alt=""></li>
            </ul>
        </div>
    </section>
    <%-include("../public/footer.html")%>
    <script src="javascripts/dressInformation.js"></script>
