<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/error.css">
    <title>错误</title>
</head>
<body>
    <div>
        <img src="images/erFour.jpg" alt="">
    </div>
    <div>
        <span><a href="./myE&Q.html">返回首页</a></span>
        <span><a href="./contactUs.html">联系我们</a></span>
    </div>
</body>
</html>