<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/error.css">
    <title>错误</title>
</head>
<style>
.btn{
    border: 1px solid #e0dddd !important;
    border-radius: 6px;
}
</style>
<body>
    <div style="">
        <img src="images/404.png" alt="" style="width: 500px;height: 500px; margin: 0 auto">
    </div>
    <div>
        <span class="btn"><a href="./index.html">返回首页</a></span>
        <span class="btn"><a href="./contactUs.html">联系我们</a></span>
    </div>
</body>
</html>