<!DOCTYPE html>
<html lang="en" ></html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- <link rel="stylesheet" href="stylesheets/productDetails.css"> -->
    <!-- <script src="javascripts/productDetails.js"></script> -->
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" href="stylesheets/header&footer.css">
    <title>花间道</title>
</head>
<body>
    <div class="headerbox"></div>
    <div id="header">
        <div class="container">
            <div class="logo"><img src="./images/myE&QImg/logo.jpg" alt=""></div>
            <ul class="item">
                <li><a href="index.html">首页</a></li>
                <li><a href="productList.html">繁花似锦</a></li>
                <li><a href="customization.html">预定鲜花</a></li>
                <li><a href="dressInformation.html">鲜花资讯</a></li>
                <li><a href="contactUs.html">联系我们</a></li>
            </ul> 
            <ul class="searchList">
                <li id="seek">
                    <span>
                        <input type="text" placeholder="站内搜索" list="pasta" id="username" style="padding-left:5px;">
                        <datalist id="pasta">
                            <option>遇见你</option>
                            <option>只如初见你</option>
                        </datalist>
                        <i class="fa fa-search" onclick="sous()" style="cursor:pointer"></i>
                    </span>
                </li>
                <li id="enroll">
                    <a href="login.html">登录</a>
                    <a href="regist.html">注册</a>
                    <a href=""><img src="images/personal/Icon.png" alt="" style="width:40px;height:40px;"></a>               
                </li>
                <li><i class=""></i></li>
            </ul>
        </div>
    </div>
    <script src="javascripts/header.js"></script>
 
