        <%-include("./header.html")%>
        <link rel="stylesheet" href="stylesheets/myEQ.css">
        <link rel="stylesheet" href="stylesheets/index.css"> 
        <link rel="stylesheet" href="../layer/skin/layer.css"/>
        
        <script src="../javascripts/jquery.min.js" defer></script>
        
    <section>
        <div class="banner">
            <picture>
                <source type="image/webp" srcset="../images/myE&QImg/index-banner2.webp" >
                <img src="../images/myE&QImg/index-banner2.jpg" alt="">
            </picture>
        </div>
        <div class="new-trends">
            <header>
                <div class="container">
                    <h3>&nbsp;&nbsp;<i class="fa fa-menu"></i>&nbsp;&nbsp;本月主推</h3>
                </div>
            </header>
            <div class="container">
                <aside>
                    <% data.forEach(function(data){%>
                        <div class="threeItems">
                            <a href="productDetail.html?id=<%-data.ci_id%>">
                                <picture>
                                    <source type="image/webp" srcset=<%-data.img_src1.split('.')[0]+'.webp'%> >
                                    <img src=<%-data.img_src1%> alt="">
                                </picture>
                            </a>
                            <div class="cartMask">
                                <p><%-data.ci_name%>&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">￥<%-data.ci_price%>.00</span> <br><span><%-data.details%></span></p>
                                <h3><a onclick="addCart(<%-data.ci_id%>)"><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;加入购物车</a></h3>
                            </div>
                        </div>
                    <%})%>
                </aside>
                <picture class="threeTRoses">
                    <source type="image/webp" srcset="images/myE&QImg/news1.webp">
                    <img src="images/myE&QImg/news1.jpg" alt="">
                </picture>
            </div>
        </div>
        <div class="specialOffier"> 
                <header>
                    <div class="container">
                        <h3>&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;&nbsp;特价精品鲜花<img class="discountLogo" src="images/discount.gif"></h3>
                    </div>
                </header>
                <div class="container">
                    <div class="new-items">
                        
                    </div>
                </div>   
        </div>
        <div class="enter">
            <header></header>
            <div class="container">
                <a href="productList.html">
                    <div class="enter-box shopping-enter"></div>
                </a>
                <a href="customization.html">
                    <div class="enter-box order-enter"></div>
                </a>
                <a href="dressInformation.html">
                    <div class="enter-box making-enter"></div>
                </a>
            </div>
        </div>
        <div id="move-top"></div>
    </section>
    <!-- <script src="javascripts/jquery.min.js"></script> -->
    <script src="javascripts/myAjax.js" defer></script>
    <script src="javascripts/blind.js" defer></script>
    <script src="javascripts/myE&Q.js" defer></script>
    <script src="../layer/layer.js" defer></script>
    
    
    <%-include("../public/footer.html")%>