
        <link rel="stylesheet" href="stylesheets/myEQ.css">
        <link rel="stylesheet" href="css/index.css"> 
        <link rel="stylesheet" href="../layer/skin/layer.css"/>
        <script src="../javascripts/jquery.js"></script>
    <script src="../layer/layer.js"></script>
        <%-include("./header.html")%>
    
    <section>
        <div class="banner">
            <!-- <div class="mask"></div>
            <p></p>
            <h2>Welcome to Flower Life</h2> -->
            <div id="blindSwiper">
                <a class="blind-url" href=""></a>
                <div class="blind-pic"></div>
                <div id="blind-control">
                    <div class="blindpn" id="blindPrev"><span></span></div>
                    <div class="dots-box"></div>
                    <div class="blindpn" id="blindNext"><span></span></div>
                </div>
            </div>
        </div>
        <div class="new-trends">
            <header>
                <div class="container">
                    <h3>&nbsp;&nbsp;<i class="fa fa-reorder"></i>&nbsp;&nbsp;本月主推</h3>
                </div>
            </header>
            <div class="container">
                <aside>
                    <% data.forEach(function(data){%>
                        <div class="threeItems">
                            <a href="productDetail.html?id=<%-data.ci_id%>"><img src=<%-data.img_src1%> alt=""></a>
                            <div class="cartMask">
                                <p><%-data.ci_name%>&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">￥<%-data.ci_price%>.00</span> <br><span><%-data.details%></span></p>
                                <h3><a onclick="addCart(<%-data.ci_id%>)"><i class="fa fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;加入购物车</a></h3>
                            </div>
                        </div>
                    <%})%>
                </aside>
                <img class="threeTRoses" src="images/myE&QImg/news1.jpg" alt=""> 
            </div>
        </div>
        <div class="specialOffier"> 
                <header>
                    <div class="container">
                        <h3>&nbsp;&nbsp;<i class="fa fa-heart"></i>&nbsp;&nbsp;特价精品鲜花<img class="discountLogo" src="images/discount.gif"></h3>
                    </div>
                </header>
                <div class="container">
                    <div class="new-items">
                        <% s_data.forEach(function(data){%>
                        <div class="item">
                            <a href="productDetail.html?id=<%-data.ci_id%>">
                                <img src=<%-data.img_src1%> alt="">
                            </a>
                            <p>￥<%-data.ci_price%>.00&nbsp;&nbsp;<s class="oldPrice">￥<%-data.old_price%>.00</s><a onclick="addCart(<%-data.ci_id%>)"><img src="images/btn_addtocart.jpg"></a></p>
                        </div>
                        <%})%>
                    </div>
                </div>   
        </div>
        <div class="enter">
            <header></header>
            <div class="container">
                <a href="productList.html">
                    <div class="enter-box shopping-enter"></div>
                </a>
                <a href="customization.html">
                    <div class="enter-box order-enter"></div>
                </a>
                <a href="dressInformation.html">
                    <div class="enter-box making-enter"></div>
                </a>
            </div>
        </div>
        <div id="move-top"></div>
    </section>
    <!-- <script src="javascripts/jquery.js"></script> -->
    <script src="javascripts/myAjax.js"></script>
    <script src="javascripts/blind.js"></script>
    <script src="javascripts/myE&Q.js"></script>
    
    <%-include("../public/footer.html")%>